*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, white, pink);
    align-items: center;
}
.container{
    width: 400px;
    height: auto;
    /* border: 2px solid black; */
    margin-top: 100px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: #ffffff59;
    box-shadow: 0px 0px 7px 0px #9b939a;
}
h1{
    padding: 20px 30px;
    text-align: center;
}
.todo{
     padding: 10px 30px;
}
#tasks{
    height: 40px;
    width: 70%;
    border-radius: 20px;
    padding: 0px 10px;
    border: 1px solid black;
    background-color: #842be278;
    color: white;
    
}
.add{
    height: 40px;
    width: 70px;
    border-radius: 20px;
    border: none;
    color: blueviolet;
    cursor: pointer;
    transition: all 0.2s ease; 
}
.add:hover{
    background-color: violet;
    color: white;
    
}
.add:active {
    transform: scale(0.9);  
    /* background-color: indigo;  */
    color: #fff;
}

ul{
    margin-top: 30px;
    padding: 10px 30px;
}
li{
    list-style: none;
    padding-bottom: 30px;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}
li::before{
    content: '';
    background-image: url(unchecked.png);
    height: 20px;
    width: 20px;
    position: absolute;
    /* border-radius: 50%; */
    background-size: cover;
    background-position: center;
    left: -25px;
    

}
.completed{
    text-decoration: line-through;
    
}
.completed::before{
    background-image: url(Checkedd.png);
}
span{
    position: absolute;
    right: 10px;
    top: 0px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    border-radius: 50%;
    /* border: 2px solid black; */
    transition: all ease-in 0.1s;
}
span:hover{
    color: red;
    
}